In [1]:
import pandas as pd
import matplotlib.path as mplPath
import numpy as np
import ast

In [2]:
#importing the data
data_df=pd.read_csv("prueba_fetchdata_metrobus.csv")
data_df

,id,date_updated,vehicle_id,vehicle_label,vehicle_current_status,position_latitude,position_longitude,geographic_point,position_speed,position_odometer,trip_schedule_relationship,trip_id,trip_start_date,trip_route_id
0,0,2021-01-27 18:00:02,170,112,2,19.317499,-99.187798,"19.3174991608,-99.1877975464",16,231,2,NaN,NaN,367.0
1,1,2021-01-27 18:00:02,177,119,1,19.292601,-99.177498,"19.2926006317,-99.1774978638",13,0,0,9732304.0,20200428.0,367.0
2,2,2021-01-27 18:00:02,1286,219,2,19.450100,-99.110100,"19.4500999451,-99.1100997925",5,0,0,9678929.0,20200428.0,161.0
3,3,2021-01-27 18:00:02,1302,235,1,19.389200,-99.059799,"19.3892002106,-99.0597991943",4,0,0,9738091.0,20200428.0,301.0
4,4,2021-01-27 18:00:02,361,303,2,19.382601,-99.061302,"19.3826007843,-99.0613021851",0,454,0,9738145.0,20200428.0,301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-01-27 18:00:02,1238,2347,2,19.403500,-99.169899,"19.4034996033,-99.1698989868",7,0,0,9736129.0,20200428.0,301.0
203,203,2021-01-27 18:00:02,1024,2351,2,19.390900,-99.047302,"19.3908996582,-99.0473022461",0,0,0,9737808.0,20200428.0,301.0
204,204,2021-01-27 18:00:02,10002,2358,2,19.397301,-99.104599,"19.3973007202,-99.104598999",7,0,0,9737246.0,20200428.0,301.0
205,205,2021-01-27 18:00:02,1232,2363,2,19.393900,-99.137497,"19.3938999176,-99.1374969482",14,0,0,9735896.0,20200428.0,301.0
206,206,2021-01-27 18:00:02,1235,2366,2,19.395100,-99.145798,"19.3950996399,-99.1457977295",0,276,0,9736965.0,20200428.0,301.0

In [3]:
#Removing the trip IDs and dates, they do not contribute to position
data_df=data_df.drop(columns=["trip_id","trip_start_date","trip_route_id"])
#Removing the 0 latitude data points
data_df=data_df.loc[data_df["position_latitude"]>0]

In [4]:
data_df

,id,date_updated,vehicle_id,vehicle_label,vehicle_current_status,position_latitude,position_longitude,geographic_point,position_speed,position_odometer,trip_schedule_relationship
0,0,2021-01-27 18:00:02,170,112,2,19.317499,-99.187798,"19.3174991608,-99.1877975464",16,231,2
1,1,2021-01-27 18:00:02,177,119,1,19.292601,-99.177498,"19.2926006317,-99.1774978638",13,0,0
2,2,2021-01-27 18:00:02,1286,219,2,19.450100,-99.110100,"19.4500999451,-99.1100997925",5,0,0
3,3,2021-01-27 18:00:02,1302,235,1,19.389200,-99.059799,"19.3892002106,-99.0597991943",4,0,0
4,4,2021-01-27 18:00:02,361,303,2,19.382601,-99.061302,"19.3826007843,-99.0613021851",0,454,0
...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-01-27 18:00:02,1238,2347,2,19.403500,-99.169899,"19.4034996033,-99.1698989868",7,0,0
203,203,2021-01-27 18:00:02,1024,2351,2,19.390900,-99.047302,"19.3908996582,-99.0473022461",0,0,0
204,204,2021-01-27 18:00:02,10002,2358,2,19.397301,-99.104599,"19.3973007202,-99.104598999",7,0,0
205,205,2021-01-27 18:00:02,1232,2363,2,19.393900,-99.137497,"19.3938999176,-99.1374969482",14,0,0
206,206,2021-01-27 18:00:02,1235,2366,2,19.395100,-99.145798,"19.3950996399,-99.1457977295",0,276,0

In [5]:
data_df.to_csv("Cleaned-data.csv",index=False)

In [6]:
test=pd.read_csv("limite-de-las-alcaldias2.csv")

In [7]:
test

,id,nomgeo,cve_mun,cve_ent,cvegeo,gid,geo_point_2d,geo_shape
0,0,Xochimilco,13,9,9013,5,"19.2451450458,-99.0903636045","{""type"":""Polygon"",""coordinates"":[[[-99.0986964..."
1,1,Cuauhtémoc,15,9,9015,13,"19.4313734294,-99.1490557562","{""type"":""Polygon"",""coordinates"":[[[-99.1291909..."
2,2,Iztacalco,6,9,9006,2,"19.396911897,-99.094329797","{""type"":""Polygon"",""coordinates"":[[[-99.0558362..."
3,3,ÁlvaroObregón,10,9,9010,4,"19.336175562,-99.246819712","{""type"":""Polygon"",""coordinates"":[[[-99.1887066..."
4,4,Coyoacán,3,9,9003,7,"19.3266672536,-99.1503763525","{""type"":""Polygon"",""coordinates"":[[[-99.1392318..."
5,5,Tlalpan,12,9,9012,8,"19.1983396763,-99.2062207957","{""type"":""Polygon"",""coordinates"":[[[-99.1962860..."
6,6,GustavoA.Madero,5,9,9005,12,"19.5040652077,-99.1158642087","{""type"":""Polygon"",""coordinates"":[[[-99.1185975..."
7,7,Iztapalapa,7,9,9007,15,"19.3491663204,-99.0567989642","{""type"":""Polygon"",""coordinates"":[[[-99.0581328..."
8,8,Azcapotzalco,2,9,9002,1,"19.4853286147,-99.1821069423","{""type"":""Polygon"",""coordinates"":[[[-99.1823069..."
9,9,MilpaAlta,9,9,9009,3,"19.1394565999,-99.0510954218","{""type"":""Polygon"",""coordinates"":[[[-98.9972337..."
10,10,VenustianoCarranza,17,9,9017,6,"19.4304954545,-99.0931057959","{""type"":""Polygon"",""coordinates"":[[[-99.1089458..."
11,11,BenitoJuárez,14,9,9014,9,"19.3806424162,-99.1611346584","{""type"":""Polygon"",""coordinates"":[[[-99.1367946..."
12,12,CuajimalpadeMorelos,4,9,9004,10,"19.3246343001,-99.3107285253","{""type"":""Polygon"",""coordinates"":[[[-99.2569793..."
13,13,MiguelHidalgo,16,9,9016,11,"19.4280623649,-99.2045669144","{""type"":""Polygon"",""coordinates"":[[[-99.1905794..."
14,14,LaMagdalenaContreras,8,9,9008,14,"19.2689765031,-99.2684129061","{""type"":""Polygon"",""coordinates"":[[[-99.208589,..."
15,15,Tláhuac,11,9,9011,16,"19.2769983772,-99.0028216137","{""type"":""Polygon"",""coordinates"":[[[-98.9789277..."

In [8]:
#Applying functions to only get the geoshape points as an array
test['geo_shape']=test['geo_shape'].map(lambda x: x.lstrip('{"type": "Polygon", "coordinates": ').rstrip('}'))
test['geo_shape'] = test['geo_shape'].map(lambda x: x[1:-1])

In [9]:
test

,id,nomgeo,cve_mun,cve_ent,cvegeo,gid,geo_point_2d,geo_shape
0,0,Xochimilco,13,9,9013,5,"19.2451450458,-99.0903636045","[[-99.09869648999997,19.319641419999197],[-99...."
1,1,Cuauhtémoc,15,9,9015,13,"19.4313734294,-99.1490557562","[[-99.12919093999987,19.462466519999197],[-99...."
2,2,Iztacalco,6,9,9006,2,"19.396911897,-99.094329797","[[-99.05583625999998,19.421961229999095],[-99...."
3,3,ÁlvaroObregón,10,9,9010,4,"19.336175562,-99.246819712","[[-99.18870661999989,19.394747649999097],[-99...."
4,4,Coyoacán,3,9,9003,7,"19.3266672536,-99.1503763525","[[-99.13923187999987,19.356865289999092],[-99...."
5,5,Tlalpan,12,9,9012,8,"19.1983396763,-99.2062207957","[[-99.19628607999987,19.302278169999095],[-99...."
6,6,GustavoA.Madero,5,9,9005,12,"19.5040652077,-99.1158642087","[[-99.11859756999998,19.584461719999098],[-99...."
7,7,Iztapalapa,7,9,9007,15,"19.3491663204,-99.0567989642","[[-99.05813287699998,19.400719584999095],[-99...."
8,8,Azcapotzalco,2,9,9002,1,"19.4853286147,-99.1821069423","[[-99.18230696999987,19.507479249999097],[-99...."
9,9,MilpaAlta,9,9,9009,3,"19.1394565999,-99.0510954218","[[-98.99723374,19.227310689999097],[-98.997447..."
10,10,VenustianoCarranza,17,9,9017,6,"19.4304954545,-99.0931057959","[[-99.10894588999999,19.452733629999198],[-99...."
11,11,BenitoJuárez,14,9,9014,9,"19.3806424162,-99.1611346584","[[-99.13679462999987,19.401556719999096],[-99...."
12,12,CuajimalpadeMorelos,4,9,9004,10,"19.3246343001,-99.3107285253","[[-99.25697934999988,19.400431689999092],[-99...."
13,13,MiguelHidalgo,16,9,9016,11,"19.4280623649,-99.2045669144","[[-99.19057941999988,19.467936319999094],[-99...."
14,14,LaMagdalenaContreras,8,9,9008,14,"19.2689765031,-99.2684129061","[[-99.208589,19.336096169999195],[-99.20867401..."
15,15,Tláhuac,11,9,9011,16,"19.2769983772,-99.0028216137","[[-98.97892778499987,19.323930537999097],[-98...."

In [10]:
#Example on how to convert the text into an array
# test2=ast.literal_eval(test.geo_shape[1])
# poly_path = mplPath.Path(np.array(test2))
# point = (-99.1289, 19.4598)
# print(point, " is in polygon: ", poly_path.contains_point(point))

In [11]:
alcaldias=test[["id","nomgeo","geo_shape"]]
alcaldias=alcaldias.rename(columns={"nomgeo":"alcaldia"})
alcaldias

,id,alcaldia,geo_shape
0,0,Xochimilco,"[[-99.09869648999997,19.319641419999197],[-99...."
1,1,Cuauhtémoc,"[[-99.12919093999987,19.462466519999197],[-99...."
2,2,Iztacalco,"[[-99.05583625999998,19.421961229999095],[-99...."
3,3,ÁlvaroObregón,"[[-99.18870661999989,19.394747649999097],[-99...."
4,4,Coyoacán,"[[-99.13923187999987,19.356865289999092],[-99...."
5,5,Tlalpan,"[[-99.19628607999987,19.302278169999095],[-99...."
6,6,GustavoA.Madero,"[[-99.11859756999998,19.584461719999098],[-99...."
7,7,Iztapalapa,"[[-99.05813287699998,19.400719584999095],[-99...."
8,8,Azcapotzalco,"[[-99.18230696999987,19.507479249999097],[-99...."
9,9,MilpaAlta,"[[-98.99723374,19.227310689999097],[-98.997447..."
10,10,VenustianoCarranza,"[[-99.10894588999999,19.452733629999198],[-99...."
11,11,BenitoJuárez,"[[-99.13679462999987,19.401556719999096],[-99...."
12,12,CuajimalpadeMorelos,"[[-99.25697934999988,19.400431689999092],[-99...."
13,13,MiguelHidalgo,"[[-99.19057941999988,19.467936319999094],[-99...."
14,14,LaMagdalenaContreras,"[[-99.208589,19.336096169999195],[-99.20867401..."
15,15,Tláhuac,"[[-98.97892778499987,19.323930537999097],[-98...."

In [12]:
alcaldias.to_csv("alcaldias.csv",index=False)

In [13]:
test2=data_df
test2["alcaldia"]=""

In [14]:
#funcion para incluir la alcaldia en los datos de camiones
def loc_alcaldias(x):
    lat=x.position_latitude
    lon=x.position_longitude
    
    for x in range(0,len(alcaldias.id)):
        polygon=ast.literal_eval(alcaldias.geo_shape[x])
        poly_path = mplPath.Path(np.array(polygon))
        point = (lon, lat)
        inalc=poly_path.contains_point(point)
        if inalc:
            return alcaldias.alcaldia[x]

In [15]:
test2["alcaldia"]=test2.apply(loc_alcaldias,axis=1)

In [16]:
#seeing the results of the apply
test2

,id,date_updated,vehicle_id,vehicle_label,vehicle_current_status,position_latitude,position_longitude,geographic_point,position_speed,position_odometer,trip_schedule_relationship,alcaldia
0,0,2021-01-27 18:00:02,170,112,2,19.317499,-99.187798,"19.3174991608,-99.1877975464",16,231,2,Coyoacán
1,1,2021-01-27 18:00:02,177,119,1,19.292601,-99.177498,"19.2926006317,-99.1774978638",13,0,0,Tlalpan
2,2,2021-01-27 18:00:02,1286,219,2,19.450100,-99.110100,"19.4500999451,-99.1100997925",5,0,0,VenustianoCarranza
3,3,2021-01-27 18:00:02,1302,235,1,19.389200,-99.059799,"19.3892002106,-99.0597991943",4,0,0,Iztapalapa
4,4,2021-01-27 18:00:02,361,303,2,19.382601,-99.061302,"19.3826007843,-99.0613021851",0,454,0,Iztapalapa
...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-01-27 18:00:02,1238,2347,2,19.403500,-99.169899,"19.4034996033,-99.1698989868",7,0,0,Cuauhtémoc
203,203,2021-01-27 18:00:02,1024,2351,2,19.390900,-99.047302,"19.3908996582,-99.0473022461",0,0,0,Iztapalapa
204,204,2021-01-27 18:00:02,10002,2358,2,19.397301,-99.104599,"19.3973007202,-99.104598999",7,0,0,Iztacalco
205,205,2021-01-27 18:00:02,1232,2363,2,19.393900,-99.137497,"19.3938999176,-99.1374969482",14,0,0,BenitoJuárez
206,206,2021-01-27 18:00:02,1235,2366,2,19.395100,-99.145798,"19.3950996399,-99.1457977295",0,276,0,BenitoJuárez

In [17]:
test2["alcaldia"].unique()

array(['Coyoacán', 'Tlalpan', 'VenustianoCarranza', 'Iztapalapa',
       'GustavoA.Madero', 'Cuauhtémoc', 'BenitoJuárez', 'Azcapotzalco',
       'MiguelHidalgo', 'Iztacalco', 'ÁlvaroObregón'], dtype=object)

In [18]:
test2.to_csv("Cleaned-data.csv",index=False)

## Work on updating the database.

In [162]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import json
import requests

In [163]:
engine = create_engine('postgresql://postgres:testpassword@unidades-db.cuzb9dl0k6mc.us-east-2.rds.amazonaws.com:5432/postgres')

In [164]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [165]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [166]:
viajes=Base.classes.viajes

In [167]:
import urllib
limit=25
url = f'https://datos.cdmx.gob.mx/api/3/action/datastore_search?resource_id=ad360a0e-b42f-482c-af12-1fd72140032e&limit={limit}'  
fileobj = urllib.request.urlopen(url)
newdata=json.load(fileobj)

In [168]:
newdata['result']['records'][2]
records=newdata['result']['records']
newdata['result']['records'][2]

{'_id': 3,
 'id': 2,
 'date_updated': '2021-01-27T18:00:02',
 'vehicle_id': 1286,
 'vehicle_label': 219,
 'vehicle_current_status': 2,
 'position_latitude': 19.45009994506836,
 'position_longitude': -99.11009979248048,
 'geographic_point': '19.4500999451,-99.1100997925',
 'position_speed': 5,
 'position_odometer': 0,
 'trip_schedule_relationship': 0,
 'trip_id': 9678929,
 'trip_start_date': 20200428,
 'trip_route_id': 161}

In [169]:
session = Session(engine)
first_row = session.query(viajes).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x173528350b8>,
 'id': 0,
 'date_updated': '2021-01-27 18:00:02',
 'vehicle_id': 170,
 'vehicle_label': 112,
 'position_latitude': 19.3174991607666,
 'geographic_point': '19.3174991608,-99.1877975464',
 'position_odometer': 231,
 'alcaldia': 'Coyoacán',
 'vehicle_current_status': 2,
 'position_longitude': -99.18779754638672,
 'position_speed': 16,
 'trip_schedule_relationship': 2}

In [170]:
querystring=f"select * from alcaldias "
alcaldias=engine.execute(querystring)
jsondata=[]
for element in alcaldias:
    getdict={}
    getdict['id']= element.id
    getdict['alcaldia']= element.alcaldia
    getdict['geo_shape']= element.geo_shape
    jsondata.append(getdict)

In [171]:
def loc_alcaldias_json(x):
    lat=x["position_latitude"]
    lon=x["position_longitude"]
    
    for x in jsondata:
        
        polygon=ast.literal_eval(x["geo_shape"])
        poly_path = mplPath.Path(np.array(polygon))
        point = (lon, lat)
        inalc=poly_path.contains_point(point)
        if inalc:
            return x["alcaldia"]

In [172]:
querystring="select max(id) as id from viajes"
getmaxid=engine.execute(querystring)
for x in getmaxid:
    idnum=x[0]+1
idnum

206

In [174]:
session=Session(engine)
for x in records:
    uploadclass=viajes()
    uploadclass.id=idnum
    uploadclass.vehicle_id=x["vehicle_id"]
    uploadclass.vehicle_current_status=x["vehicle_current_status"]
    uploadclass.position_longitude=x["position_longitude"]
    uploadclass.position_speed=x["position_speed"]
    uploadclass.trip_schedule_relationship=x["trip_schedule_relationship"]
    uploadclass.vehicle_label=x["vehicle_label"]
    uploadclass.date_updated=x["date_updated"]
    uploadclass.position_latitude=x["position_latitude"]
    uploadclass.geographic_point=x["geographic_point"]
    uploadclass.position_odometer=x["position_odometer"]
    uploadclass.alcaldia=loc_alcaldias_json(x)
    idnum=idnum+1
    session.add(uploadclass)
session.commit()
session.close()

In [ ]:
viajes.alcaldia