In [1]:
import pandas as pd
import matplotlib.path as mplPath
import numpy as np
import ast

In [2]:
#importing the data
data_df=pd.read_csv("prueba_fetchdata_metrobus.csv")
data_df

,id,date_updated,vehicle_id,vehicle_label,vehicle_current_status,position_latitude,position_longitude,geographic_point,position_speed,position_odometer,trip_schedule_relationship,trip_id,trip_start_date,trip_route_id
0,0,2021-01-27 18:00:02,170,112,2,19.317499,-99.187798,"19.3174991608,-99.1877975464",16,231,2,NaN,NaN,367.0
1,1,2021-01-27 18:00:02,177,119,1,19.292601,-99.177498,"19.2926006317,-99.1774978638",13,0,0,9732304.0,20200428.0,367.0
2,2,2021-01-27 18:00:02,1286,219,2,19.450100,-99.110100,"19.4500999451,-99.1100997925",5,0,0,9678929.0,20200428.0,161.0
3,3,2021-01-27 18:00:02,1302,235,1,19.389200,-99.059799,"19.3892002106,-99.0597991943",4,0,0,9738091.0,20200428.0,301.0
4,4,2021-01-27 18:00:02,361,303,2,19.382601,-99.061302,"19.3826007843,-99.0613021851",0,454,0,9738145.0,20200428.0,301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-01-27 18:00:02,1238,2347,2,19.403500,-99.169899,"19.4034996033,-99.1698989868",7,0,0,9736129.0,20200428.0,301.0
203,203,2021-01-27 18:00:02,1024,2351,2,19.390900,-99.047302,"19.3908996582,-99.0473022461",0,0,0,9737808.0,20200428.0,301.0
204,204,2021-01-27 18:00:02,10002,2358,2,19.397301,-99.104599,"19.3973007202,-99.104598999",7,0,0,9737246.0,20200428.0,301.0
205,205,2021-01-27 18:00:02,1232,2363,2,19.393900,-99.137497,"19.3938999176,-99.1374969482",14,0,0,9735896.0,20200428.0,301.0
206,206,2021-01-27 18:00:02,1235,2366,2,19.395100,-99.145798,"19.3950996399,-99.1457977295",0,276,0,9736965.0,20200428.0,301.0

In [3]:
#Removing the trip IDs and dates, they do not contribute to position
data_df=data_df.drop(columns=["trip_id","trip_start_date","trip_route_id"])
#Removing the 0 latitude data points
data_df=data_df.loc[data_df["position_latitude"]>0]

In [4]:
data_df

,id,date_updated,vehicle_id,vehicle_label,vehicle_current_status,position_latitude,position_longitude,geographic_point,position_speed,position_odometer,trip_schedule_relationship
0,0,2021-01-27 18:00:02,170,112,2,19.317499,-99.187798,"19.3174991608,-99.1877975464",16,231,2
1,1,2021-01-27 18:00:02,177,119,1,19.292601,-99.177498,"19.2926006317,-99.1774978638",13,0,0
2,2,2021-01-27 18:00:02,1286,219,2,19.450100,-99.110100,"19.4500999451,-99.1100997925",5,0,0
3,3,2021-01-27 18:00:02,1302,235,1,19.389200,-99.059799,"19.3892002106,-99.0597991943",4,0,0
4,4,2021-01-27 18:00:02,361,303,2,19.382601,-99.061302,"19.3826007843,-99.0613021851",0,454,0
...,...,...,...,...,...,...,...,...,...,...,...
202,202,2021-01-27 18:00:02,1238,2347,2,19.403500,-99.169899,"19.4034996033,-99.1698989868",7,0,0
203,203,2021-01-27 18:00:02,1024,2351,2,19.390900,-99.047302,"19.3908996582,-99.0473022461",0,0,0
204,204,2021-01-27 18:00:02,10002,2358,2,19.397301,-99.104599,"19.3973007202,-99.104598999",7,0,0
205,205,2021-01-27 18:00:02,1232,2363,2,19.393900,-99.137497,"19.3938999176,-99.1374969482",14,0,0
206,206,2021-01-27 18:00:02,1235,2366,2,19.395100,-99.145798,"19.3950996399,-99.1457977295",0,276,0

In [5]:
data_df.to_csv("Cleaned-data.csv",index=False)

PermissionError: [Errno 13] Permission denied: 'Cleaned-data.csv'

In [ ]:
test=pd.read_csv("limite-de-las-alcaldias2.csv")

In [ ]:
test

In [ ]:
#Applying functions to only get the geoshape points as an array
test['geo_shape']=test['geo_shape'].map(lambda x: x.lstrip('{"type": "Polygon", "coordinates": ').rstrip('}'))
test['geo_shape'] = test['geo_shape'].map(lambda x: x[1:-1])

In [ ]:
test

In [ ]:
#Example on how to convert the text into an array
# test2=ast.literal_eval(test.geo_shape[1])
# poly_path = mplPath.Path(np.array(test2))
# point = (-99.1289, 19.4598)
# print(point, " is in polygon: ", poly_path.contains_point(point))

In [ ]:
alcaldias=test[["id","nomgeo","geo_shape"]]
alcaldias=alcaldias.rename(columns={"nomgeo":"alcaldia"})
alcaldias

In [ ]:
alcaldias.to_csv("alcaldias.csv",index=False)

In [ ]:
test2=data_df
test2["alcaldia"]=""

In [ ]:
#funcion para incluir la alcaldia en los datos de camiones
def loc_alcaldias(x):
    lat=x.position_latitude
    lon=x.position_longitude
    
    for x in range(0,len(alcaldias.id)):
        polygon=ast.literal_eval(alcaldias.geo_shape[x])
        poly_path = mplPath.Path(np.array(polygon))
        point = (lon, lat)
        inalc=poly_path.contains_point(point)
        if inalc:
            return alcaldias.alcaldia[x]

In [ ]:
test2["alcaldia"]=test2.apply(loc_alcaldias,axis=1)

In [ ]:
#seeing the results of the apply
test2

In [ ]:
test2["alcaldia"].unique()

In [ ]:
test2.to_csv("Cleaned-data.csv",index=False)